*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
img{
	border:none;
}
.header{
	height: 120px;
	background:red ;
}
.header .headerTop{
	height: 30px;
	background: rgb(247, 247, 247);
}
.header .headerTop .headerTopCont{
	width: 1208px;
	height: 30px;
	margin:0 auto;
}
.header .headerTop .headerTopCont div{
	float: left;
	line-height: 30px;
	font-size: 12px;
	margin-right:15px;
	cursor:pointer;
}
.header .headerTop .headerTopCont .huanying{
	cursor: pointer;
	color:#bbb;
}
.header .headerTop .headerTopCont .soucang b{
	display: inline-block;
	width: 12px;
	height: 30px;
	background: url(../images/index/icon.png) no-repeat -2px 5px;
	float: left;
}
.header .headerTop .headerTopCont .soucang a{
	color:#333;
}
.header .headerTop .headerTopCont ul{
	float: right;
}
.header .headerTop .headerTopCont ul li{
	float:left;
	line-height: 30px;
	font-size: 12px;
	margin-left:43px;
}
.header .headerTop .headerTopCont ul li a{
	color:#333;
}
.header .hedBottom{
	height: 90px;
	background: #e0e0e0;
}
.header .hedBottom .hedBottombox{
	width: 1208px;
	height: 90px;
	margin:0 auto;
}
.header .hedBottom .hedBottombox>a img{
	margin-top:12px;
	float:left;
	margin-right:25px;
}
.header .hedBottom .hedBottombox .hedBottomCenter{
	width: 561px;
	height: 32px;
	background: red;
	float: left;
	margin-top:29px;s
}
.header .hedBottom .hedBottombox .hedBottomCenter input{
	float:left;
}
.header .hedBottom .hedBottombox .hedBottomCenter #txt{
	width: 478px;
	height: 30px;
	border:1px solid #fd7400;
	padding-left:11px;  
	font-size: 12px;
}
.header .hedBottom .hedBottombox .hedBottomCenter #btn{
	width: 70px;
	height: 32px;
	background: #fd7400;
	color:#fff;
	border:none;
	font-size: 18px;
}
.header .hedBottom .hedBottombox .hedBottomRight{
	width: 180px;
	height: 30px;
	border:1px solid #fd7400;
	background: #FFFFFF;
	padding:5px 10px;
	margin-top:20px;
	float:right;
} 
.header .hedBottom .hedBottombox .hedBottomRight .shopche{
	width: 38px;
	height: 20px;
	float: left;
	background: url(../images/index/header-img.png) no-repeat -112px 0;
	margin:12px 0px 0px 10px;
	position: relative;
}
.header .hedBottom .hedBottombox .hedBottomRight .shopche span{
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius:50%;
	background: #fd7400;
	text-align: center;
	line-height: 25px;
	position: absolute;
	top:-15px ;
	left:2px;
	font-size: 12px;
	color:#fff;
}
.header .hedBottom .hedBottombox .hedBottomRight .jiesuan{
	width: 115px;
	line-height: 30px;
	float: right;
	font-size: 14px;
	text-align: center;
	color:#fd7400;
	background: url(../images/index/list-arrow.png) no-repeat right 10px;
}
