*{
	margin:0;
	padding:0;
	font-size: 12px;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border:none;
}

#container{
	margin-bottom: 50px;
}


/*轮播 flash*/
.index_flash{
	width: 100%;
	height: 480px;
	position: relative;
}
.index_flash .img_flash{
	width: 100%;
	height: 480px;
	position: absolute;
}
.index_flash .img_flash ul{
	width: 100%;
	height: 480px;
}
.index_flash .img_flash ul li{
	width: 100%;
	height: 480px;
	position: absolute;
	display: none;
}
.index_flash .img_flash ul li a{
	display: block;
	height: 480px;
}
.index_flash .img_flash ul .first{
	display: block;
}
.index_flash .img_flash ul li a img{
	width: 100%;
	height: 480px;
}

.index_flash .img_flash #circle{
	position: absolute;
	bottom:20px;
}
.index_flash .img_flash #circle .circle{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border:1px solid #fd7400;
	float:left;
	margin:0 5px;
}
.index_flash .img_flash #circle .current{
	background: #fd7400;
}

.index_flash .index_select{
	width: 1208px;
	margin:0 auto;
	position: relative;
}
.index_flash .index_select .index_selectbox{
	width: 148px;
	height: 479px;
	background: #fafafa;
	position: absolute;
	border-bottom: 1px #ddd solid;
    border-left: 1px #ddd solid;
    border-right: 1px #ddd solid;
}
.index_flash .index_select .index_selectbox ._select{
	width: 148px;
	line-height: 40px;
	text-align: center;
	color:#fff;
	font-size: 15px;
	background: #fd7400;
	float:left;
	font-weight:bold;
	position: absolute;
	z-index: 999;
}
.index_flash .index_select .index_selectbox ._select span{
	position: absolute;
	width: 20px;
	height: 20px;
	float:right;
	background:url("/yiguwang/images/index/header-img.png") no-repeat -24px 1px;
	top:18px;
	right:0px;
}
.index_flash .index_select .index_selectbox ul{
	width: 148px;
	/*height: 440px;*/
	background: #fafafa;
	position: absolute;
	top:55px;
}
.index_flash .index_select .index_selectbox ul li{
	line-height: 28px;
	padding:10px 0px 10px 5px;
	background: #fff;
	margin:2px 0;
	position: relative;
}
.index_select_jquery{
	width:130px!important;
	padding:9px 10px!important;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	z-index: 10;
}
.index_flash .index_select .index_selectbox ul li .index_select_font b{
	float:left;
	width: 32px;
	height: 30px;
}
.index_flash .index_select .index_selectbox ul li .index_select_font a{
	font-size: 14px;
	color:#000;
}
.index_flash .index_select .index_selectbox ul li .index_select_font a:hover{
	color:#333;
	font-weight: bold;
}
.index_flash .index_select .index_selectbox ul li .index_select_s b{
	background: url(/yiguwang/images/index/menu_bg.png) no-repeat -30px 0;
}
.index_flash .index_select .index_selectbox ul li .index_select_r b{
	background: url(/yiguwang/images/index/menu_bg.png) no-repeat 0 0;
}
.index_flash .index_select .index_selectbox ul li .index_select_ly b{
	background: url(/yiguwang/images/index/menu_bg.png) no-repeat -62px 0;
}

.index_flash .index_select .index_selectbox ul li .index_select_no{
	width: 705px;
	min-height: 200px;
	border:1px solid #DDD;
	border-left:none;
	box-shadow: 0px 0px 10px #DDDDDD;
	background: #fff;
	left:148px;
	position: absolute;
	top:-10px;
	display: none;
}
.index_flash .index_select .index_selectbox ul li .index_select_no .left{
	width: 458px;
	padding:10px 4px 30px 8px;
	float:left;
}
.index_flash .index_select .index_selectbox ul li .index_select_no .left dl{
	padding:6px 0;
	overflow: hidden;
}
.index_flash .index_select .index_selectbox ul li .index_select_no .left dl dt{
	width: 84px;
	line-height: 22px;
	text-align: right;
	float:left;
	font-weight: 700;
	margin-right:5px;
}
.index_flash .index_select .index_selectbox ul li .index_select_no .left dl dt a{
	color:#fd7400;
	text-decoration: underline;
}
.index_flash .index_select .index_selectbox ul li .index_select_no .left dl dt a:hover{
	color:#000;
}
.index_flash .index_select .index_selectbox ul li .index_select_no .left dl dd{
	float:left;
	line-height: 22px;
	color:#ccc;
}
.index_flash .index_select .index_selectbox ul li .index_select_no .left dl dd a{
	margin:0 5px;
	color:#666;
	line-height: 14px;
}
.index_flash .index_select .index_selectbox ul li .index_select_no .left dl dd a:hover{
	color:#333;
	text-decoration: underline;
}
.index_flash .index_select .index_selectbox ul li .index_select_no .right{
	float:right;
	margin:6px 9px;
	overflow: hidden;
}
/*****************************************轮播下一块内容*****************************************/
.index_two{
	width: 1208px;
	margin:0 auto;
	overflow: hidden;
	margin-top:30px;
}
.index_two ul li{
	width: 302px;
	float:left;
	position: relative;
	overflow: hidden;
}
.index_two ul li .index_twobj{
	width: 290px;
	
}
.index_two ul li .index_twobj a{
	display: block;
	width: 290px;
	height: 320px;
}
.index_two ul li .index_twobj img{
	width: 290px;
	height: 100%;
}
.index_two ul li p{
	width: 270px;
	height: 104px;
	position: absolute;
	bottom:13px; 
	left:10px;
	background: url(/yiguwang/images/index/pro_hd_bg.png) no-repeat center center;
}
.index_two ul li p b{
	display: block;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	color:#575757;
	margin-top:18px;
}
.index_two ul li p span{
	display: block;
	text-align: center;
	font-size: 14px;
	color:#575757;
	margin-top:18px;
}

/*****************************************商品展示、本周爆品*****************************************/
.index_bp{
	width: 1208px;
	/*margin:0 auto;*/
	overflow: hidden;
	margin:20px auto 50px;
}
.index_bp>ul{
	width: 703px;
	float:left;
}
.index_bp>ul li{ 
	margin-bottom:10px;
}
.index_bp>ul li a{
	display: block;
	width: 698px;
	height: 228px;
}
.index_bp>ul li a img{
	width: 698px;
	height:100%;
}
.index_bp .right{
	width: 500px;
	float:right;
}
.index_bp .right .right_top{
	width: 500px;
	height: 70px;
	background: #a1d22b;
	text-align: center;
}
.index_bp .right .right_bottom{
	width: 500px;
}
.index_bp .right .right_bottom .right_bottomlft{
	position: relative;
	margin-top:7px;
}
.index_bp .right .right_bottom .right_bottomlft li{
	position: absolute;
	display: none;
}
.index_bp .right .right_bottom .right_bottomlft .first{
	display: block;
}
.index_bp .right .right_bottom .right_bottomlft li>a{
	display: block;
	width: 388px;
	height: 388px;
}
.index_bp .right .right_bottom .right_bottomlft li a img{
	width: 100%;
	height: 100%;
}
.index_bp .right .right_bottom .right_bottomlft li p{
	position: absolute;
	width: 388px;
	height: 53px;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
	text-align: center;
}
.index_bp .right .right_bottom .right_bottomlft li p a{
	font-size: 18px;
	color:#fff;
	line-height: 53px;
}
.index_bp .right .right_bottom .right_bottomlftrit{
	width: 108px;
	float: right;
}
.index_bp .right .right_bottom .right_bottomlftrit ul li{
	margin-bottom:5px;
	/*background: url(/yiguwang/images/index/hdzq-ri-botton-bg.png) no-repeat center center;*/
}
.index_bp .right .right_bottom .right_bottomlftrit ul li a{
	display: block;
	width: 88px;
	height: 86px;
	padding:4px 2px 4px 19px;
	
}
.index_bp .right .right_bottom .right_bottomlftrit ul li a img{
	width: 100%;
	height: 100%;
}

/*****************************************商品分类楼层*****************************************/
/*********水果蔬菜 fruit_vegetable*********/
.fruit_vegetable{
	width: 1208px;
	margin:50px auto 0;
	overflow: hidden;
}
.fruit_vegetable .left{
	width: 366px;
	float: left;
}
.fruit_vegetable .left .left_top{
	display: block;
	width: 265px;
	line-height: 88px;
	font-size: 18px;
	color:#fff;
	padding-left:100px;
	font-weight: bold;
	background: url(/yiguwang/images/index/index-content-two.png) no-repeat 0 0;
}
.fruit_vegetable .left .left_bottom{
	display: block;
	width: 365px;
	height: 445px;
	border-left:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.fruit_vegetable .right{
	width: 838px;
	height: 531px;
	border-left:1px solid #ddd;
	border-top:1px solid #ddd;
	float:left;
}
.fruit_vegetable .right .right_top{
	overflow: hidden;
}
.fruit_vegetable .right .right_top li{
	float: left;
}
.fruit_vegetable .right .right_top .first_lft a{
	display: block;
	width: 409px;
	height: 265px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.fruit_vegetable .right .right_top .first_rit{
	width: 212px;
	height: 265px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	position: relative;
}
.fruit_vegetable .right .right_top .first_rit>a{
	display: block;
	width: 212px;
	height: 180px;
	text-align: center;
}
.fruit_vegetable .right .right_top .first_rit h4 a{
	display: block;
	position: absolute;
	bottom:0;
	font-size: 16px;
	color:#fff;
	width: 100%;
	line-height: 35px;
	background: rgba(255, 68, 0, .7);
	text-align: center;
	font-weight: normal;
	display: none;
}
.fruit_vegetable .right .right_top .first_rit a img{
	width: 180px;
	height: 180px;
}
.fruit_vegetable .right .right_top .first_rit p{
	height: 38px;
	padding:5px 0;
	text-align: center;
}
.fruit_vegetable .right .right_top .first_rit p a{
	font-size: 14px;
	color:#333;
}
.fruit_vegetable .right .right_top .first_rit div .money_lft{
	float:left;
	font-size: 18px;
	color:#ff4400;
	font-weight: bold;
	margin:5px 5px 0px 5px;
}
.fruit_vegetable .right .right_top .first_rit div .money_rit{
	float:right;
	color:#000;
	text-decoration: line-through;
	margin:10px 36px 0 0;
}

/*********肉禽蛋奶 meat_custard*********/
.meat_custard{
	width: 1208px;
	margin:50px auto 0;
	overflow: hidden;
}
.meat_custard .left{
	width: 366px;
	float: left;
}
.meat_custard .left .left_top{
	display: block;
	width: 265px;
	line-height: 88px;
	font-size: 18px;
	color:#fff;
	padding-left:100px;
	font-weight: bold;
	background: url(/yiguwang/images/index/index-content-two.png) no-repeat 0 -92px;
}
. .left .left_bottom{
	display: block;
	width: 365px;
	height: 445px;
	border-left:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.meat_custard .right .right_lft{
	width: 640px;
	float:left;
}
.meat_custard .right .right_rit{
	width: 198px;
	float:left;
}
.meat_custard .right .right_rit li{
	width: 198px;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.meat_custard .right .right_rit a{
	display: block;
	width: 193px;
	height: 176.66666666px;
	
}
.meat_custard .right .right_rit a img{
	width: 100%;
	height: 100%;
}
/*********零食酒饮 snack_wine*********/
.snack_wine{
	width: 1208px;
	margin:50px auto 0;
	overflow: hidden;
}
.snack_wine .left{
	width: 366px;
	float: left;
}
.snack_wine .left .left_top{
	display: block;
	width: 265px;
	line-height: 88px;
	font-size: 18px;
	color:#fff;
	padding-left:100px;
	font-weight: bold;
	background: url(/yiguwang/images/index/index-content-two.png) no-repeat 0 -272px;
}
.snack_wine .left .left_bottom{
	display: block;
	width: 365px;
	height: 445px;
	border-left:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.snack_wine .right .right_lft{
	width: 640px;
	float:left;
}
.snack_wine .right .right_lft .meat_right{
	width: 425px;
	height: 265px;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.snack_wine .right .right_lft .meat_right a{
	display: block;
	width: 425px;
	height: 265px;
}
.snack_wine .right .right_rit{
	height: 531px;
}
.snack_wine .right .right_rit li{
	height: 531px;
}
.snack_wine .right .right_rit li a{
	display: block;
	height: 531px;
} 









/********************************JQUERYcss样式********************************/
.right_bottomlftrit_jquery{
	background: url(/yiguwang/images/index/hdzq-ri-botton-bg.png) no-repeat center center;
	padding:8px 0px;
}
