<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/yiguwang/css/header.css"/>
		<link rel="stylesheet" type="text/css" href="/yiguwang/css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="/yiguwang/css/index.css"/>
		<script type="text/javascript" src="/yiguwang/js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="/yiguwang/js/yiguwang.js"></script>
		<script type="text/javascript" src="/yiguwang/js/template-native.js"></script>
	</head>
	<body>
		<div id="index_fixed"></div>
		<div id="header" class="header"></div>
		<div id="container">
							<!--************轮播内容************-->
			<div class="index_flash">
				<div class="img_flash" id="img_flash">
					<ul>
						<li class="first"><a href=""><img src="/yiguwang/images/index/1495423728195.jpg"/></a></li>
						<li><a href=""><img src="/yiguwang/images/index/1495160734299.jpg"/></a></li>
						<li><a href=""><img src="/yiguwang/images/index/1495677166087.png"/></a></li>
						<li><a href=""><img src="/yiguwang/images/index/1496196721605.png"/></a></li>
					</ul>
					<div id="circle"></div>
				</div>
				<!--轮播内选项卡-->
				<div class="index_select">
					<div class="index_selectbox">
						<div class="_select">全部商品分类<span></span></div>
						<ul id="index_select">
							<li>
								<div class="index_select_s index_select_font">
									<b></b>
									<a href="">水果蔬菜</a>
								</div>
								<div class="index_select_no">
									<div class="left">
										<dl>
											<dt><a href="">国产水果</a></dt>
											<dd>
												|<a href="">苹果</a>
												|<a href="">梨</a>
												|<a href="">柑橙柚</a>
												|<a href="">桃李杏</a>
											</dd>
										</dl>
										<dl>
											<dt><a href="">国产水果</a></dt>
											<dd>
												|<a href="">苹果</a>
												|<a href="">梨</a>
												|<a href="">柑橙柚</a>
												|<a href="">桃李杏</a>
											</dd>
										</dl>
										<dl>
											<dt><a href="">国产水果</a></dt>
											<dd>
												|<a href="">苹果</a>
												|<a href="">梨</a>
												|<a href="">柑橙柚</a>
												|<a href="">桃李杏</a>
											</dd>
										</dl>
									</div>
									<div class="right">
										<a href=""><img src="/yiguwang/images/index/1493690930151.jpg"/></a>
									</div>
									
								</div>
							</li>
							<li>
								<div class="index_select_r index_select_font">
									<b></b>
									<a href="">肉禽蛋奶</a>
								</div>
								<div class="index_select_no">
									<div class="left">
										<dl>
											<dt><a href="">国产水果</a></dt>
											<dd>
												|<a href="">苹果</a>
												|<a href="">梨</a>
												|<a href="">柑橙柚</a>
												|<a href="">桃李杏</a>
											</dd>
										</dl>
										<dl>
											<dt><a href="">国产水果</a></dt>
											<dd>
												|<a href="">苹果</a>
												|<a href="">梨</a>
												|<a href="">柑橙柚</a>
												|<a href="">桃李杏</a>
											</dd>
										</dl>
										<dl>
											<dt><a href="">国产水果</a></dt>
											<dd>
												|<a href="">苹果</a>
												|<a href="">梨</a>
												|<a href="">柑橙柚</a>
												|<a href="">桃李杏</a>
											</dd>
										</dl>
									</div>
									<div class="right">
										<a href=""><img src="/yiguwang/images/index/1493690930151.jpg"/></a>
									</div>
									
								</div>
							</li>
							<li>
								<div class="index_select_ly index_select_font">
									<b></b>
									<a href="">粮油副食</a>
								</div>
								<!--<div class="index_select_no">
									<div class="left">
										<dl>
											<dt><a href="">国产水果</a></dt>
											<dd>
												|<a href="">苹果</a>
												|<a href="">梨</a>
												|<a href="">柑橙柚</a>
												|<a href="">桃李杏</a>
											</dd>
										</dl>
										<dl>
											<dt><a href="">国产水果</a></dt>
											<dd>
												|<a href="">苹果</a>
												|<a href="">梨</a>
												|<a href="">柑橙柚</a>
												|<a href="">桃李杏</a>
											</dd>
										</dl>
										<dl>
											<dt><a href="">国产水果</a></dt>
											<dd>
												|<a href="">苹果</a>
												|<a href="">梨</a>
												|<a href="">柑橙柚</a>
												|<a href="">桃李杏</a>
											</dd>
										</dl>
									</div>
									<div class="right">
										<a href=""><img src="/yiguwang/images/index/1493690930151.jpg"/></a>
									</div>
									
								</div>-->
							</li>
						</ul>
					</div>
					
				</div>
			</div>	
							<!--************轮播下一块内容************-->
			<div class="index_two">
				<ul id="index_two">
					<!--<li><a href="">
						<img src="/yiguwang/images/index/pro_hd_01.jpg"/>
						<p>
							<b>安心月配</b>
							<span>荤素搭配  营养全面 </span>
						</p>
					</a></li>-->
					<!--<li><a href="">
						<img src="/yiguwang/images/index/pro_hd_02.jpg"/>
						<p></p>
					</a></li>
					<li><a href="">
						<img src="/yiguwang/images/index/pro_hd_03.jpg"/>
						<p></p>
					</a></li>
					<li><a href="">
						<img src="/yiguwang/images/index/pro_hd_04.jpg"/>
						<p>
							
						</p>
					</a></li>-->
				</ul>
			</div>
							<!--************商品展示、本周爆品************-->
			<div class="index_bp">
				<ul id="index_bp">
					<li>
						<a href="">
							<img src="/yiguwang/images/index/1496394534179.jpg"/>
						</a>
					</li>
					<li>
						<a href="">
							<img src="/yiguwang/images/index/1496288352578.jpg"/>
						</a>
					</li>
				</ul>
				<div class="right">
					<p class="right_top"><img src="/yiguwang/images/index/bzbp-title.png"/></p>
					<div class="right_bottom">
						<ul class="right_bottomlft" id="right_bottomlft">
							<li class="first">
								<a href=""><img src="/yiguwang/images/index/201706011143747006.jpg"/></a>
								<p><a href="">金骏眉一级精选茶叶48g*3</a></p>
							</li>
							<li>
								<a href=""><img src="/yiguwang/images/index/201706011140466024.jpg"/></a>
								<p><a href="">金骏眉一级精选茶叶48g*3</a></p>
							</li>
							<li>
								<a href=""><img src="/yiguwang/images/index/201706011150805021.jpg"/></a>
								<p><a href="">金骏眉一级精选茶叶48g*3</a></p>
							</li>
							<li>
								<a href=""><img src="/yiguwang/images/index/201706011147279014.jpg"/></a>
								<p><a href="">金骏眉一级精选茶叶48g*3</a></p>
							</li>
						</ul>
						<div class="right_bottomlftrit">
							<ul>
								<li class="right_bottomlftrit_jquery">
									<a href=""><img src="/yiguwang/images/index/ico_201706011143747006.jpg"/></a>
								</li>
								<li>
									<a href=""><img src="/yiguwang/images/index/ico_201706011140466024.jpg"/></a>
								</li>
								<li>
									<a href=""><img src="/yiguwang/images/index/ico_201706011150805021.jpg"/></a>
								</li>
								<li>
									<a href=""><img src="/yiguwang/images/index/ico_201706011147279014.jpg"/></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
							<!--************商品分类楼层************-->					
					<!--水果蔬菜-->
			<div  class="index_model1" id="fruit_vegetable2">
				<!--<div class="fruit_vegetable">
					<div class="left">
						<a href="" class="left_top">水果蔬菜</a>
						<a href="" class="left_bottom"><img src="/yiguwang/images/index/1494814802646.jpg"/></a>
					</div>
					<div class="right">
						<ul class="right_top">
							<li class="first_lft">
								<a href=""><img src="/yiguwang/images/index/1494815566085.jpg"/></a>
							</li>
							<li class="first_rit">
								<a href=""><img src="/yiguwang/images/index/201703080949534007.jpg"/></a>
								<p><a href="">南非柠檬6枚盒装</a></p>
								<div>
									<span class="money_lft">￥32.8</span>
									<span class="money_rit">￥36</span>
								</div>
								<h4><a href="">加入购物车</a></h4>
							</li>
							<li class="first_rit">
								<a href=""><img src="/yiguwang/images/index/201703131105469044.jpg"/></a>
								<p><a href="">台湾水仙芒1kg</a></p>
								<div>
									<span class="money_lft">￥39.8</span>
									<span class="money_rit">￥49.9</span>
								</div>
								<h4><a href="">加入购物车</a></h4>
							</li>
							<li class="first_rit">
								<a href=""><img src="/yiguwang/images/index/201703080949534007.jpg"/></a>
								<p><a href="">南非柠檬6枚盒装</a></p>
								<div>
									<span class="money_lft">￥32.8</span>
									<span class="money_rit">￥36</span>
								</div>
								<h4><a href="">加入购物车</a></h4>
							</li>
							<li class="first_rit">
								<a href=""><img src="/yiguwang/images/index/201703131105469044.jpg"/></a>
								<p><a href="">台湾水仙芒1kg</a></p>
								<div>
									<span class="money_lft">￥39.8</span>
									<span class="money_rit">￥49.9</span>
								</div>
								<h4><a href="">加入购物车</a></h4>
							</li>
							<li class="first_lft">
								<a href=""><img src="/yiguwang/images/index/1494815566085.jpg"/></a>
							</li>
						</ul>
					</div>
				</div>-->
			</div>		
					<!--肉禽蛋奶-->
			<div class="index_model2" id="meat_custard">		
				<!--<div class="fruit_vegetable meat_custard">
					<div class="left">
						<a href="" class="left_top">肉禽蛋奶</a>
						<a href="" class="left_bottom"><img src="/yiguwang/images/index/1489736460287.jpg"/></a>
					</div>
					<div class="right">
						<ul class="right_top right_lft">
							<li class="first_rit">
								<a href=""><img src="/yiguwang/images/index/201703080949534007.jpg"/></a>
								<p><a href="">南非柠檬6枚盒装</a></p>
								<div>
									<span class="money_lft">￥32.8</span>
									<span class="money_rit">￥36</span>
								</div>
								<h4><a href="">加入购物车</a></h4>
							</li>
							<li class="first_rit">
								<a href=""><img src="/yiguwang/images/index/201703131105469044.jpg"/></a>
								<p><a href="">台湾水仙芒1kg</a></p>
								<div>
									<span class="money_lft">￥39.8</span>
									<span class="money_rit">￥49.9</span>
								</div>
								<h4><a href="">加入购物车</a></h4>
							</li>
							<li class="first_rit">
								<a href=""><img src="/yiguwang/images/index/201703080949534007.jpg"/></a>
								<p><a href="">南非柠檬6枚盒装</a></p>
								<div>
									<span class="money_lft">￥32.8</span>
									<span class="money_rit">￥36</span>
								</div>
								<h4><a href="">加入购物车</a></h4>
							</li>
							<li class="first_rit">
								<a href=""><img src="/yiguwang/images/index/201703080949534007.jpg"/></a>
								<p><a href="">南非柠檬6枚盒装</a></p>
								<div>
									<span class="money_lft">￥32.8</span>
									<span class="money_rit">￥36</span>
								</div>
								<h4><a href="">加入购物车</a></h4>
							</li>
							<li class="first_rit">
								<a href=""><img src="/yiguwang/images/index/201703131105469044.jpg"/></a>
								<p><a href="">台湾水仙芒1kg</a></p>
								<div>
									<span class="money_lft">￥39.8</span>
									<span class="money_rit">￥49.9</span>
								</div>
								<h4><a href="">加入购物车</a></h4>
							</li>
							<li class="first_rit">
								<a href=""><img src="/yiguwang/images/index/201703080949534007.jpg"/></a>
								<p><a href="">南非柠檬6枚盒装</a></p>
								<div>
									<span class="money_lft">￥32.8</span>
									<span class="money_rit">￥36</span>
								</div>
								<h4><a href="">加入购物车</a></h4>
							</li>
						</ul>
						<ul class="right_rit">
							<li><a href=""><img src="/yiguwang/images/index/1484652527921.jpg"/></a></li>
							<li><a href=""><img src="/yiguwang/images/index/1495185201178.jpg"/></a></li>
							<li><a href=""><img src="/yiguwang/images/index/1494816538977.jpg"/></a></li>
						</ul>
					</div>
				</div>-->
			</div>	
					<!--粮油副食-->	
			<div class="index_model2" id="food"></div>			
					<!--零食酒饮-->
			<div class="index_model3" id="snack_wine">
				<!--<div class="meat_custard fruit_vegetable snack_wine">
					<div class="left">
						<a href="" class="left_top">零食酒饮</a>
						<a href="" class="left_bottom"><img src="/yiguwang/images/index/1484805151709.jpg"/></a>
					</div>
					<div class="right">
						<ul class="right_top right_lft">
							<li class="meat_right">
								<a href=""><img src="/yiguwang/images/index/1495417389804.jpg"/></a>
							</li>
							<li class="first_rit">
								<a href=""><img src="/yiguwang/images/index/201703080949534007.jpg"/></a>
								<p><a href="">南非柠檬6枚盒装</a></p>
								<div>
									<span class="money_lft">￥32.8</span>
									<span class="money_rit">￥36</span>
								</div>
								<h4><a href="">加入购物车</a></h4>
							</li>
							<li class="meat_right">
								<a href=""><img src="/yiguwang/images/index/1495417389804.jpg"/></a>
							</li>
							<li class="first_rit">
								<a href=""><img src="/yiguwang/images/index/201703080949534007.jpg"/></a>
								<p><a href="">南非柠檬6枚盒装</a></p>
								<div>
									<span class="money_lft">￥32.8</span>
									<span class="money_rit">￥36</span>
								</div>
								<h4><a href="">加入购物车</a></h4>
							</li>
						</ul>
						<ul class="right_rit">
							<li><a href=""><img src="/yiguwang/images/index/1484663021683.jpg"/></a></li>
						</ul>
					</div>
				</div>-->
			</div>		
					<!--主题场景-->	
			<div class="index_model1" id="theme_scene"></div>		
					<!--这箱有礼-->
			<div class="index_model2" id="gift"></div>
				<!--这箱有礼-->
			<div class="index_model1" id="fashion"></div>
		</div>
		
		
		
		
		<div id="footer" class="footer"></div>
	</body>
							<!--************轮播下一块内容模版************-->	
		<script type="text/html" id="index_text">
			<% for (var i = 0, len = products.length; i < len; i++) {
				var prod = products[i];
			%>
			
				<li>
					<div class="index_twobj"><a href="">
						<img src="<%= prod.src %>" />
						<p>
							<b><%= prod.index_font1 %></b>
							<span><%= prod.index_font2 %></span>
						</p>
					</a></div>
				</li>
			<% } %>
		</script>
		<script>
//							************轮播下一块内容模版渲染************
			$(function(){
				$.ajax({
					url : "/yiguwang/json/arttemplate.json",
					type : "get",
					dataType : "json",
					success : function(responseData){
						var data = {
							products : responseData
						};
						var html = template('index_text', data);
						document.getElementById('index_two').innerHTML = html;
	
					}
				})
			})
		</script>
							
								
								
							<!--************水果蔬菜模版 1-2************-->
		<script type="text/html" id="fruit_vegetable_model">
			<% for(var i =0, len = products.length; i < len; i++) { 
				var prod = products[i];	
			%>
				<div class="fruit_vegetable">
					<div class="left">
						<a href="" class="left_top" style="background: url(<%= prod.stylea %>) no-repeat 0 0"><%= prod.name %></a>
						<a href="" class="left_bottom"><img src="<%= prod.img %>"/></a>
					</div>
					<div class="right">
						<ul class="right_top">
							<li class="first_lft">
								<a href=""><img src="<%= prod.img1 %>"/></a>
							</li>
							<li class="first_rit">
								<a href=""><img src="<%= prod.img2 %>"/></a>
								<p><a href=""><%= prod.name1 %></a></p>
								<div>
									<span class="money_lft"><%= prod.price %></span>
									<span class="money_rit"><%= prod.price1 %></span>
								</div>
								<h4><a href=""><%= prod.shopping %></a></h4>
							</li>
							<li class="first_rit">
								<a href=""><img src="<%= prod.img3 %>"/></a>
								<p><a href=""><%= prod.name2 %></a></p>
								<div>
									<span class="money_lft"><%= prod.price2 %></span>
									<span class="money_rit"><%= prod.price3 %></span>
								</div>
								<h4><a href=""><%= prod.shopping %></a></h4>
							</li>
							<li class="first_rit">
								<a href=""><img src="<%= prod.img4 %>"/></a>
								<p><a href=""><%= prod.name3 %></a></p>
								<div>
									<span class="money_lft"><%= prod.price4 %></span>
									<span class="money_rit"><%= prod.price5 %></span>
								</div>
								<h4><a href=""><%= prod.shopping %></a></h4>
							</li>
							<li class="first_rit">
								<a href=""><img src="<%= prod.img5 %>"/></a>
								<p><a href=""><%= prod.name4 %></a></p>
								<div>
									<span class="money_lft"><%= prod.price6 %></span>
									<span class="money_rit"><%= prod.price7 %></span>
								</div>
								<h4><a href=""><%= prod.shopping %></a></h4>
							</li>
							<li class="first_lft">
								<a href=""><img src="<%= prod.img6 %>"/></a>
							</li>
						</ul>
					</div>
				</div>	
			<% } %>	
		</script>	
							<!--************水果蔬菜模版 1-2渲染************-->
		<script type="text/javascript">
			$.getJSON("/yiguwang/json/fruit_vegetable.json",function(respons){
				var data = {
					products : respons
				}
				var html = template("fruit_vegetable_model",data);
				$(".index_model1").append(html);
//				$("#theme_scene").append(html);
//				$("#fashion").append(html);
			});
		</script>
		
							
								
								
							<!--************肉禽蛋奶模版 3-1************-->
		<script type="text/html" id="meat_custard_model">
			<% for(var i = 0, len = products.length; i < len; i++) { 
				var	prod = products[i];
			%>
				<div class="fruit_vegetable meat_custard">
					<div class="left">
						<a href="" class="left_top" style="background: url(<%= prod.stylea %>) no-repeat 0 -92px"><%= prod.name %></a>
						<a href="" class="left_bottom"><img src="<%= prod.img %>"/></a>
					</div>
					<div class="right">
						<ul class="right_top right_lft">
							<li class="first_rit">
								<a href=""><img src="<%= prod.img1 %>"/></a>
								<p><a href=""><%= prod.name1 %></a></p>
								<div>
									<span class="money_lft"><%= prod.price %></span>
									<span class="money_rit"><%= prod.price1 %></span>
								</div>
								<h4><a href=""><%= prod.shopping %></a></h4>
							</li>
							<li class="first_rit">
								<a href=""><img src="<%= prod.img2 %>"/></a>
								<p><a href=""><%= prod.name2 %></a></p>
								<div>
									<span class="money_lft"><%= prod.price2 %></span>
									<span class="money_rit"><%= prod.price3 %></span>
								</div>
								<h4><a href=""><%= prod.shopping %></a></h4>
							</li>
							<li class="first_rit">
								<a href=""><img src="<%= prod.img1 %>"/></a>
								<p><a href=""><%= prod.name1 %></a></p>
								<div>
									<span class="money_lft"><%= prod.price %></span>
									<span class="money_rit"><%= prod.price1 %></span>
								</div>
								<h4><a href=""><%= prod.shopping %></a></h4>
							</li>
							<li class="first_rit">
								<a href=""><img src="<%= prod.img2 %>"/></a>
								<p><a href=""><%= prod.name2 %></a></p>
								<div>
									<span class="money_lft"><%= prod.price2 %></span>
									<span class="money_rit"><%= prod.price3 %></span>
								</div>
								<h4><a href=""><%= prod.shopping %></a></h4>
							</li>
							<li class="first_rit">
								<a href=""><img src="<%= prod.img1 %>"/></a>
								<p><a href=""><%= prod.name1 %></a></p>
								<div>
									<span class="money_lft"><%= prod.price %></span>
									<span class="money_rit"><%= prod.price1 %></span>
								</div>
								<h4><a href=""><%= prod.shopping %></a></h4>
							</li>
							<li class="first_rit">
								<a href=""><img src="<%= prod.img2 %>"/></a>
								<p><a href=""><%= prod.name2 %></a></p>
								<div>
									<span class="money_lft"><%= prod.price2 %></span>
									<span class="money_rit"><%= prod.price3 %></span>
								</div>
								<h4><a href=""><%= prod.shopping %></a></h4>
							</li>
						</ul>
						<ul class="right_rit">
							<li><a href=""><img src="<%= prod.img3 %>"/></a></li>
							<li><a href=""><img src="<%= prod.img4 %>"/></a></li>
							<li><a href=""><img src="<%= prod.img5 %>"/></a></li>
						</ul>
					</div>
				</div>	
			<% } %>	
		</script>	
							<!--************肉禽蛋奶模版 3-1渲染************-->
		<script type="text/javascript">
			$.getJSON("/yiguwang/json/meat_custard.json",function(respons){
				var data = {
					products : respons
				};
				var html = template("meat_custard_model",data);
				$(".index_model2").append(html);
//				$("#food").append(html);
//				$("#gift").append(html);
			});	
				
		</script>
							
								
								
							<!--************零食酒饮模版 1-1-1************-->
		<script type="text/html" id="snack_wine_model">
			<% for(var i = 0, len = products.length; i < len; i++) {
				var prod = products[i];
			%>
				<div class="meat_custard fruit_vegetable snack_wine">
					<div class="left">
						<a href="" class="left_top"style="background: url(<%= prod.style %>) no-repeat 0 -272px"><%= prod.name %></a>
						<a href="" class="left_bottom"><img src="<%= prod.img %>"/></a>
					</div>
					<div class="right">
						<ul class="right_top right_lft">
							<li class="meat_right">
								<a href=""><img src="<%= prod.img1 %>"/></a>
							</li>
							<li class="first_rit">
								<a href=""><img src="<%= prod.img2 %>"/></a>
								<p><a href=""><%= prod.name1 %></a></p>
								<div>
									<span class="money_lft"><%= prod.price %></span>
									<span class="money_rit"><%= prod.price1 %></span>
								</div>
								<h4><a href=""><%= prod.shopping %></a></h4>
							</li>
							<li class="meat_right">
								<a href=""><img src="<%= prod.img1 %>"/></a>
							</li>
							<li class="first_rit">
								<a href=""><img src="<%= prod.img2 %>"/></a>
								<p><a href=""><%= prod.name1 %></a></p>
								<div>
									<span class="money_lft"><%= prod.price %></span>
									<span class="money_rit"><%= prod.price1 %></span>
								</div>
								<h4><a href=""><%= prod.shopping %></a></h4>
							</li>
						</ul>
						<ul class="right_rit">
							<li><a href=""><img src="<%= prod.img3 %>"/></a></li>
						</ul>
					</div>
				</div>
			<% } %>
		</script>
							<!--************零食酒饮模版 1-1-1渲染************-->
		<script type="text/javascript">
			$.getJSON("/yiguwang/json/snack_wine.json",function(respons){
				var data = {
					products : respons
				};
				var html = template("snack_wine_model",data);
				$("#snack_wine").append(html);
			})
		</script>

</html>
