<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/yiguwang/css/header.css"/>
		<link rel="stylesheet" type="text/css" href="/yiguwang/css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="/yiguwang/css/index.css"/>
		<script type="text/javascript" src="/yiguwang/js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src="/yiguwang/js/yiguwang.js"></script>
	</head>
	<body>
		<div id="header" class="header"></div>
		<div>
							<!--************轮播内容************-->
			<div class="index_flash">
				<div class="img_flash" id="img_flash">
					<ul>
						<li class="first"><a href=""><img src="/yiguwang/images/index/1495423728195.jpg"/></a></li>
						<li><a href=""><img src="/yiguwang/images/index/1495160734299.jpg"/></a></li>
						<li><a href=""><img src="/yiguwang/images/index/1495677166087.png"/></a></li>
						<li><a href=""><img src="/yiguwang/images/index/1496196721605.png"/></a></li>
					</ul>
					<div id="circle"></div>
				</div>
				<!--轮播内选项卡-->
				<div class="index_select">
					<div class="index_selectbox">
						<div class="_select">全部商品分类<span></span></div>
						<ul id="index_select">
							<li>
								<div class="index_select_s index_select_font">
									<b></b>
									<a href="">水果蔬菜</a>
								</div>
								<div class="index_select_no">
									<div class="left">
										<dl>
											<dt><a href="">国产水果</a></dt>
											<dd>
												|<a href="">苹果</a>
												|<a href="">梨</a>
												|<a href="">柑橙柚</a>
												|<a href="">桃李杏</a>
											</dd>
										</dl>
										<dl>
											<dt><a href="">国产水果</a></dt>
											<dd>
												|<a href="">苹果</a>
												|<a href="">梨</a>
												|<a href="">柑橙柚</a>
												|<a href="">桃李杏</a>
											</dd>
										</dl>
										<dl>
											<dt><a href="">国产水果</a></dt>
											<dd>
												|<a href="">苹果</a>
												|<a href="">梨</a>
												|<a href="">柑橙柚</a>
												|<a href="">桃李杏</a>
											</dd>
										</dl>
									</div>
									<div class="right">
										<a href=""><img src="/yiguwang/images/index/1493690930151.jpg"/></a>
									</div>
									
								</div>
							</li>
							<li>
								<div class="index_select_r index_select_font">
									<b></b>
									<a href="">肉禽蛋奶</a>
								</div>
								<div class="index_select_no">
									<div class="left">
										<dl>
											<dt><a href="">国产水果</a></dt>
											<dd>
												|<a href="">苹果</a>
												|<a href="">梨</a>
												|<a href="">柑橙柚</a>
												|<a href="">桃李杏</a>
											</dd>
										</dl>
										<dl>
											<dt><a href="">国产水果</a></dt>
											<dd>
												|<a href="">苹果</a>
												|<a href="">梨</a>
												|<a href="">柑橙柚</a>
												|<a href="">桃李杏</a>
											</dd>
										</dl>
										<dl>
											<dt><a href="">国产水果</a></dt>
											<dd>
												|<a href="">苹果</a>
												|<a href="">梨</a>
												|<a href="">柑橙柚</a>
												|<a href="">桃李杏</a>
											</dd>
										</dl>
									</div>
									<div class="right">
										<a href=""><img src="/yiguwang/images/index/1493690930151.jpg"/></a>
									</div>
									
								</div>
							</li>
							<li>
								<div class="index_select_ly index_select_font">
									<b></b>
									<a href="">粮油副食</a>
								</div>
								<!--<div class="index_select_no">
									<div class="left">
										<dl>
											<dt><a href="">国产水果</a></dt>
											<dd>
												|<a href="">苹果</a>
												|<a href="">梨</a>
												|<a href="">柑橙柚</a>
												|<a href="">桃李杏</a>
											</dd>
										</dl>
										<dl>
											<dt><a href="">国产水果</a></dt>
											<dd>
												|<a href="">苹果</a>
												|<a href="">梨</a>
												|<a href="">柑橙柚</a>
												|<a href="">桃李杏</a>
											</dd>
										</dl>
										<dl>
											<dt><a href="">国产水果</a></dt>
											<dd>
												|<a href="">苹果</a>
												|<a href="">梨</a>
												|<a href="">柑橙柚</a>
												|<a href="">桃李杏</a>
											</dd>
										</dl>
									</div>
									<div class="right">
										<a href=""><img src="/yiguwang/images/index/1493690930151.jpg"/></a>
									</div>
									
								</div>-->
							</li>
						</ul>
					</div>
					
				</div>
			</div>	
							<!--************轮播下一块内容************-->
			<div class="index_two">
				<ul id="index_two">
					<!--<li><a href="">
						<img src="/yiguwang/images/index/pro_hd_01.jpg"/>
						<p>
							<b>安心月配</b>
							<span>荤素搭配  营养全面 </span>
						</p>
					</a></li>-->
					<!--<li><a href="">
						<img src="/yiguwang/images/index/pro_hd_02.jpg"/>
						<p></p>
					</a></li>
					<li><a href="">
						<img src="/yiguwang/images/index/pro_hd_03.jpg"/>
						<p></p>
					</a></li>
					<li><a href="">
						<img src="/yiguwang/images/index/pro_hd_04.jpg"/>
						<p>
							
						</p>
					</a></li>-->
				</ul>
			</div>
			
		</div>
		
		
		<div id="footer" class="footer"></div>
	</body>
	<script type="text/html" id="index_text">
		<% for (var i = 0, len = products.length; i < len; i++) {
			var prod = products[i];
		%>
		
			<li><a href="">
				<img src=<%= prod.src %>/>
				<p>
					<b>"<%= prod.index_font1 %></b>
					<span><%= prod.index_font2 %></span>
				</p>
			</a></li>
		<% } %>
	</script>
	
	<script>
		$(function(){
			$.ajax({
				url : "/yiguwang/json/arttemplate.json",
				type : "get",
				dataType : "json",
				success : function(responseData){
					var data = {
						products : responseData;
					};
					var html = template('index_text', data);
					document.getElementById('index_two').innerHTML = html;

				}
			})
		})
	</script>
	
	
	
</html>
