<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/yiguwang/css/header.css"/>
		<link rel="stylesheet" type="text/css" href="/yiguwang/css/footer.css"/>
		<link rel="stylesheet" type="text/css" href="/yiguwang/css/yiguwang.css"/>
		<!--<script type="text/javascript" defer async="true" src="/yiguwang/js/require.js"></script>-->
		<script type="text/javascript" src = "/yiguwang/js/jquery-1.12.4.min.js"></script>
		<script type="text/javascript" src = "/yiguwang/js/template-native.js"></script>
		<script type="text/javascript" src = "/yiguwang/js/jquery.cookie.js"></script>
		<script type="text/javascript" src = "/yiguwang/js/yiguwang.js"></script>
		
	</head>
	<body>
		<div id="header" class="header"></div>
		<div class="shopping_container">
				<!--导航-->
			<div class="nav">
				<div class="_select">全部商品分类<span></span></div>
				<ul>
					<li><a href="">首页</a></li>
					<li><a href="">礼品卡券</a></li>
					<li><a href="">安心宅配</a></li>
					<li><a href="">特色预订</a></li>
					<li><a href="">企业定制</a></li>
					<li><a href="">活动专区</a></li>
					<li><a href="">食尚资讯</a></li>
				</ul>
			</div>
			
			<!--商品-->
			<div id="shangpin">
				<div class="shopping">
					<div class="shopping_check">
						<label><input type="checkbox" class="ck_all"  />全选</label>
					</div>
					<ul class="top">
						<li>单价</li>
						<li>数量</li>
						<li>合计</li>
						<li>重量</li>
						<li>操作</li>
					</ul>
				</div>
				
				
				
				<div class="no_cookie">
					<p>
						<img src="/yiguwang/images/shopping/cart_k.png" width="50px" height="46px" />
					</p>
					<dd>你的购物车空空的，赶紧选购吧！</dd>
				</div>
				<!--<div class="template">
					<div class="shopping_check">
						<input type="checkbox" />
					</div>
					<img src="/yiguwang/images/shopping/def_201505201633647056.jpg" title="新西兰康利麦卢卡蜂蜜500g" alt="" />
					<div class="img_title">
						<a href="">新西兰康利麦卢卡蜂蜜500g</a>
					</div>
					<ul>
						<li class="font_color">￥59.90</li>
						<li>
							<input class="pag" type="button" name="" id="" value="-" />
							<input class="num" type="text" name="" id="" value="1" />
							<input class="pag" type="button" name="" id="" value="+" />
						</li>
						<li class="font_color">￥119.80</li>
						<li>600g</li>
						<li>
							<a class="first" href="">移入收藏</a>
							<a href="">删除</a>
						</li>
					</ul>
				</div>-->
				<!--<div class="template template_two">
					<div class="shopping_check">
						<input type="checkbox" />
					</div>
					<img src="/yiguwang/images/shopping/def_201705041449285026.jpg" title="新西兰康利麦卢卡蜂蜜500g" alt="" />
					<div class="img_title">
						<a href="">新西兰康利麦卢卡蜂蜜500g</a>
					</div>
					<ul>
						<li class="font_color">￥59.90</li>
						<li>
							<input class="pag" type="button" name="" id="" value="-" />
							<input class="num" type="text" name="" id="" value="1" />
							<input class="pag" type="button" name="" id="" value="+" />
						</li>
						<li class="font_color">￥119.80</li>
						<li>600g</li>
						<li>
							<a class="first" href="">移入收藏</a>
							<a href="">删除</a>
						</li>
					</ul>
				</div>-->
			</div>
			
			<!--<div class="shopping_jiesuan">
				<div class="right">
					<p>
						<span>商品总价</span>
						<b>￥152.80</b>
					</p>
					<p>
						<span>购买总数</span>
						<b>3</b>
					</p>
				</div>
				<div class="left">
					<span>深圳市内满199元包邮</span>
					<p>
						<a href="http://www.egu365.com/categories.action" target="_blank">凑单免邮</a>
					</p>
				</div>
			</div>-->
			<div class="shopping_price">
				<div class="left">
					<label><input type="checkbox" name="" id="quanxuan" value="" />全选</label>
					<a href="">继续购物</a>
				</div>
				<div class="right">
					<div class="right_lft">
						<p class="first">商品总价：<b class="zongjiage">￥<span>0.00</span></b></p>
						<p>已节省：￥66.00</p>
					</div>
					<button>去结算</button>
				</div>
			</div>
			
			<div class="shopping_bt">
				<b>您的购物车以下商品已经缺货，暂时无法购买</b>
				<ul class="top">
					<li>单价</li>
					<li>数量</li>
					<li>合计</li>
					<li>重量</li>
					<li>操作</li>
				</ul>
			</div>
		</div>
		
		
		
		<div id="footer" class="footer"></div>
		
		
		<!--*******************************购物车商品模版*******************************-->
		<script type="text/html" id="shangpinxinxi">
			<% for(var i = 0, len = products.length; i < len; i++) { 
				var prod = products[i];
			%>
				<div class="template">
					<div class="shopping_check">
						<input type="checkbox" class="ck_product" />
					</div>
					<img src="<%= prod.src %>" title="<%= prod.name %>" alt="" />
					<div class="img_title">
						<a href=""><%= prod.name %></a>
					</div>
					<ul id="shopping_rows">
						<li class="font_color"><%= prod.price %></li>
						<li>
							<input class="pag" type="button" name="" id="cart_num_miuns" value="-" />
							<input class="num" type="text" name="" id="num" value="<%= prod.amount %>" />
							<input class="pag" type="button" name="" id="cart_num_add" value="+" />
						</li>
						<li class="font_color">￥<span id="heji"><%= (prod.amount * prod.price).toFixed(2) %></span></li>
						<li id="zhongliang"><%= prod.amount * prod.weight %>KG</li>
						<li>
							<a class="first" href="">移入收藏</a>
							<a class="shanchu" href="">删除</a>
						</li>
					</ul>
				</div>
			<% } %>
		</script>
		<script type="text/javascript">
			$(function(){
				$.cookie.json = true;// 自动在对象与字符串之间解析转换
				var _products = $.cookie("products") || [];
				if(_products.length == 0){
					$(".no_cookie").css("display","block");
					return;
				};
				if(_products.length != 0){
					$(".no_cookie").css("display","none");
				};
				
//				显示商品信息
				var data = {
						products : _products
					};
				var html = template("shangpinxinxi",data);
//				$("#shangpin").append(html);
				$("#shangpin").append(html).children(".template").filter(".template").each(function(index, element){
					$(element).data("product", _products[index]);
				});
				$(".ck_product").prop("checked",true);
				$("#quanxuan").prop("checked", true);
				$(".ck_all").prop("checked", true);
				calcTotal();
				/***********************************************/
					/* 全选 */
				$(".ck_all").click(function(){
					// 获取当前全选框选中状态
					var status = $(this).prop("checked");
					// 设置所有商品复选框状态与全选一致
					$(".ck_product").prop("checked", status);
					$("#quanxuan").prop("checked", status);
					// 计算合计
					calcTotal();
				});
				$("#quanxuan").click(function(){
					// 获取当前全选框选中状态
					var status = $(this).prop("checked");
					// 设置所有商品复选框状态与全选一致
					$(".ck_product").prop("checked", status);
					$(".ck_all").prop("checked", status);
					// 计算合计
					calcTotal();
				});
				/* 单选 */
				$(".template :checkbox").click(function(){
					// 计算合计
					calcTotal();
					// 当所有商品行前的复选框选中时，将全选设置为选中状态，否则取消全选选中
					if ($(".template :checkbox:checked").length === _products.length) {
						$(".ck_all").prop("checked", true);
						$("#quanxuan").prop("checked", true);
					} else{
						$(".ck_all").prop("checked", false);
						$("#quanxuan").prop("checked", false);
					}
				});
//				console.log(data)
//				点击 + 数量递增,价格随数量增加而增加
				$("#shangpin").delegate("#cart_num_add,#cart_num_miuns", "click", function(){
					// 获取点击符号所在行
					var $row = $(this).parents("li").parents("#shopping_rows").parents(".template");
					// 获取行上缓存的商品对象
					var _product = $row.data("product");
					// 修改界面显示数量
					if ($(this).is("#cart_num_add")){ // 当前点击的是 + 
						++_product.amount;
					} else{ // 点击的是 -
						if (_product.amount <= 1){
							alert("购买商品数量不能小于1")
							return;
						}
							--_product.amount;
					}
					$row.find("#num").val(_product.amount);
//					// 修改显示小计
					$row.find("#heji").text((_product.price * _product.amount).toFixed(2));
					$("#zhongliang").text(_product.amount * _product.weight + "KG")
//					// 显示合计
					calcTotal();
//					// 修改cookie
					$.cookie("products", _products, {expires:7});
				});
				
				/***********************************************/
				/* 删除 */
				$("#shangpin").on("click", ".shanchu", function(e){
					e.preventDefault();
					// 删除超级链接所在行
					var $row = $(this).parent().parent().parent(".template");
					// 删除的商品对象
					var _product = $row.data("product");
					// 找出在数组中的下标
					var index = $.inArray(_product, _products);
					// 从数组中删除 index 处元素
					_products.splice(index, 1);
					// 从dom结构中删除行
					$row.remove();
					// 从 cookie 中删除当前行的数据
					$.cookie("products", _products, {expires:7});
					$(".no_cookie").css("display","block");
					$(".zongjiage").text("￥" + "0.00");
					$("#quanxuan").prop("checked", false);
					$(".ck_all").prop("checked", false);
				});

				
				
				
				
				
				
				/* 合计 */
				function calcTotal() {
					var _total = 0;
					$(".template input:checked").each(function(index, element){
						_total += parseFloat($(element).parents(".template").find("#heji").text());
					});
					$(".zongjiage").text("￥" + _total.toFixed(2));
				}
				
			})
		</script>
	</body>
</html>
